
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imagen{
    max-width:100%;
}

a{
    cursor:pointer;
}
.alerta{
    font-weight:700;
}
body{
    background-color: #E3D8D6;
    overflow-x: hidden;
}
.modal-contenedor{
    display:flex;
    align-items: center;
    gap:2rem;
}
.img-carrito{
    width:200px;
    padding:20px;
} 
.modal-content{
    background-color: #E3D8D6;
}
.parrafo{
    font-weight: 900;
    font-style: italic;
}

a{
    text-decoration: none;
}
.boton{
    opacity:0;
}
.mensaje {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
    background-color: lightgreen;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
